.header {
  &__coins {
    display: flex;
  }

  &__coin {
    display: flex;
    flex-direction: row !important;
    padding: 4px;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;

    &__changeMore {
      background: #dfffc0;
    }
    &--less {
      background: #ffc0d1;
    }

    .coin {
      &__image {
        margin-right: 5px;

        p {
          font-size: 11px;
          text-align: center;
          font-weight: 700;
          margin: 0;
        }
      }
      &__name {
        font-size: 11px;
        text-align: center;
        font-weight: 700;
      }
      &__price {
        font-weight: 500;
      }
      &__change {
        font-weight: 400;
        font-size: 12px;
        flex-wrap: nowrap;

      }

      &__info {
        font-size: 14px;

        p {
          margin: 0;
        }
      }
    }
  }
}